apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-deployment
  labels:
    app: gateway-deployment
spec:
  selector:
    matchLabels:
      app: gateway-deployment
  replicas: 1
  template:
    metadata:
      labels:
        app: gateway-deployment
    spec:
      containers:
        - name: gateway-deployment
          image: ielenagm/gatewayservice
          ports:
            - containerPort: 8080
          env:
            - name: spring.cloud.config.uri
              value: http://config-service:8081
            - name: spring.config.import
              value: optional:configserver:http://config-service:8081
            - name: eureka.client.serviceUrl.defaultZone
              value: http://eureka-service.default.svc.cluster.local:8761/eureka/
            - name: EUREKA
              value: eureka-service