.upload-page-contain {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #69c3f7;
  padding: 2em; /* Ajustar el espacio de padding según sea necesario */
}

.upload-data-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 30em;
  border-radius: 0.5em;
  background-color: #fff;
  padding: 2.75em 2.5em;
}


.upload-h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1em;
  color: black;
}

.upload-file-upload-btn {
  display: block;
  margin: 1em auto;
  font-weight: bold;
  padding: 9px 40px;
  background-color: transparent;
  border: 2px solid #69c3f7;
  border-radius: 50px;
  cursor: pointer;
  color: #69c3f7;
}

.upload-file-upload-btn:hover {
  background-color: #69c3f7;
  color: white;
  transform: scale(0.95);
}

.upload-file-upload-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.upload-submit-btn {
  display: block;
  margin: 1em auto;
  font-weight: bold;
  padding: 9px 40px;
  background-color: #69c3f7;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  color: white;
}

.upload-submit-btn:hover {
  background-color: #5aafe7;
  transform: scale(0.95);
}
