.page-contain {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: #F3F0ED;
    padding: 2em;
    font-family: "Open Sans", sans-serif;
  }
  
  .data-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
    max-width: 22em;
    min-height: 22em;
    border-radius: 0.5em;
    background: #E7D3AF;
    margin: 5em;
    padding: 2.75em 2.5em;
  }
  
  h4 {
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin: 2em;
    color: black;
  }
  
  p {
    font-weight: 600;
  }
  
  .header .btn button {
    margin-left: 20px;
    font-weight: 700;
    padding: 9px 40px;
    background: #F3F0ED;
    border: none;
    border-radius: 80px;
    cursor: pointer;
  }
  
  .header .btn button:hover {
    background-color: #F3F0ED;
    transform: scale(0.95);
  }
  
  .a {
    color: black;
    font-family: 'Brush Script MT', serif;
  }
  
  .a:hover {
    color: black;
    font-family: 'Brush Script MT', serif;
    text-decoration: none;
  }
  